# Python cache and virtual environments
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
venv\
ENV/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Data directories
nvd/json/
nvd/zip/
